# shellcheck config
#._____________________________________________________________________________
#`
#
# disabling this as it does not seem to work as expected anyway
# https://github.com/koalaman/shellcheck/wiki/SC1090
disable=SC1090
